*{
    box-sizing: inherit;
}

:root{
    --text-color: #F2F2F2;
    --hover-color: #F65E39;
    --outline-color: #202020;
    --text-color: #222;
    --gray-color: #555;
    --white-color: #FFFFFF;
    --line-color: #ccc;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

.space{
    margin-top: 56px;
}

.btn{
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}


.icon-size-s{
    width: 16px;
    height: 16px;
}

.icon-size-m{
    width: 24px;
    height: 24px;
}

/* Layout  */
.grid-middle{
    width: 1300px;
    max-width: 100%;
    margin: 0 auto;
}

.col-md-6{
    width: 100%;
    height: 100%;
}
